## Pandas Tutorial

In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [11]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [7]:
df.to_csv("05.Pandas.csv")

## Ways to access Dataframe
- loc
- iloc

Data frame should be a row and column greater than 1
and series can be a single row or a column

In [16]:
df.loc['Row2']

Column1    4
Column2    5
Column3    6
Column4    7
Name: Row2, dtype: int64

In [17]:
type(df.loc['Row2'])

pandas.core.series.Series

In [18]:
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [19]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [21]:
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [26]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [29]:
df[['Column2','Column3']]

      Column2  Column3
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18

In [30]:
type(df[['Column2','Column3']])

pandas.core.frame.DataFrame